@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

:root {
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f6f6f6; /* light beige */
  color: #2f2a76; /* default text color for contrast */
}

html {
  scroll-behavior: smooth;
}
